#
# This configuration is a sample configuration for creating a release. All the variables
# not defined in the file will be using the default values.
#
export __OS_ACTION="release"
export __OS_ORIGIN_BRANCH="v1.3.0-alpha.2"
export __OS_ONLY_BUILD_PLATFORMS="linux/amd64,darwin/amd64,windows/amd64,linux/386"
export __OS_DOCKER_VERSION="1.9.1-25.el7.centos"
export __OS_CONFIG="xpaastemplates,metrics,testusers"
export __OS_XPAAS_TAG="ose-v1.3.1"
export __OS_PV_COUNT="5"
export __OS_PV_SIZE="5"
export __OS_PV_NFS_OPTIONS="rw,no_root_squash"
